* {
  background-color: #fff;
  box-sizing: border-box;
  margin: 1rem;
}

.main {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "Nav Reviews AvgRtg SentAnalysis"
  "Nav Visitors Visitors Visitors";
}